{% extends  "AppArquitectos/padre.html" %}
{% load static %}

{% block ContenidoCambiado %}

<h1>Nuestros Edificios y Proyectos</h1>
<ul>
    {% for edificio in object_list %}
        <li>
            <h3>Nombre: {{ edificio.nombre }} </h3>
            <h5><a href="{% url 'edificio_detalle' edificio.id %}"> Ver</a></h5>
            
        {% if user.is_superuser %}
            <a href="{% url 'edificio_crear' %}"> Nuevo</a>
            <a href="{% url 'edificio_editar' edificio.id %}"> Editar</a>
            <a href="{% url 'edificio_borrar' edificio.id %}"> Borrar</a>
        {% endif %}
        </li>

    {% endfor %}
{% endblock %}